################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TFGapp/.vs/
.vs/
/TFGapp/TFGapp/x64/
/TFGapp/TFGapp/Debug/